<div class="clear" />
<div class="col-xs-10 col-xs-offset-1">
  <h2 style="text-align:center">Welcome to Application Station...</h2>
  <h3 style="text-align:center">Riding the Rails to job application success!</h3>
</div>
