<div class="clear"></div>
<div class="container">
  <div class="col-xs-10 col-xs-offset-1 text-center">
    <h2>Welcome to Application Station...</h2>
    <h3>Riding the Rails to job application success!</h3>
  </div>
  <br class="clear"></br>
  <hr />
  <div class="row">
    <div class="col-xs-5 col-xs-offset-2">
      <ul>Pending features...
        <li>DB migration - back-end to core functionality</li>
        <li>Preliminary Styling</li>
      </ul>
    </div>
    <div class="col-xs-2">
      <img src="https://codeship.com/projects/a96a85a0-0502-0134-c82b-3e31f9e0f6b8/status?branch=master">
    </div>
  </div>
</div>
